/* .card-body{
    padding: 30px;
} */
input{
    padding: 0;
    margin: 0;
    border-width: 1px;
}
.inputStart{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: solid;
}
.inputcenter{
    border-radius: 0;
}
.inputEnd{
    border-style: solid;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

}
a{
    margin-top: 10px;
}
.logo{
    height: 100px;
    width: 200px;
}